.resume-container {
  background-color: #1b1b1d;
}

.resume-title {
  color: #007bff;
}

.heading-underline {
  width: 80px;
  height: 4px;
  margin: 0 auto;
  background-color: #007bff;
}

.anihead {
  width: 40px;
  height: 4px;
  background-color: #007bff;
  animation: anihead 2s infinite;
}

@keyframes anihead {
  0% {
    width: 0;
  }
  50% {
    width: 80px;
  }
  100% {
    width: 0;
  }
}

.pdf-viewer {
  height: 600px; /* Adjust the height as needed */
}
