 

* {
font-family:'serif';
font-smooth: always;
font-style: italic;
font-weight: lighter;
color:'white';
}


@media (prefers-reduced-motion: no-preference) {
  .logo-img:hover {
    animation: spin infinite 2s linear;
  }

  .hovers:hover {
    border-radius: 20px;
    padding: 0.7%;
    animation: spin infinite 2.5s linear;


  }

  .about-img {
    border: 2px solid black;
    animation: border-img infinite 3.3s linear;
    background-image: url(https://tf-react-bieber.vercel.app/_next/image?url=%2Fimages%2Fabout-image.jpg&w=750&q=75);
  }

  .anihead {
    animation: headinganimation infinite 2.5s linear;
  }

  h4 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
      typing 3.5s infinite,
      blink-caret .55s step-end infinite;
  }

  .down-arow {
    animation: down .7s infinite;
  }

  .hover-logo:hover {
    color: rgb(17, 173, 25);
    font-style: italic;
    font-variant: small-caps;
    font-weight: bolder;
    border-radius: 20px;
    padding: 0.7%;
    animation: spin infinite 2.5s linear;

  }

  .appbar {
    animation: border infinite 2.5s linear;


  }


}

@keyframes imgborderspin {
  0% {

    border-left: 2px solid rgb(15, 235, 96);
  }

  25% {
    border-top: 2px solid rgb(14, 232, 72);
  }

  50% {
    border-right: 2px solid rgb(11, 232, 110);
  }

  75% {
    border-bottom: 2px solid rgb(7, 231, 48);
  }

  100% {
    border: 1px dotted rgb(8, 66, 242)
  }
}


@keyframes spin {
  0% {

    border-left: 2px solid rgb(15, 235, 96);
  }

  25% {
    border-top: 2px solid rgb(14, 232, 72);
  }

  50% {
    border-right: 2px solid rgb(11, 232, 110);
  }

  75% {
    border-bottom: 2px solid rgb(7, 231, 48);
  }

  100% {
    border: 1px dotted rgb(8, 66, 242)
  }
}

@keyframes border {
  0% {

    border: 1px solid #83ce19;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-width: 20%;
  }

  50% {
    border: 1px solid #83ce19;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-width: 60%;
  }

  100% {
    border: 1px solid #83ce19;
    border-left: none;
    border-right: none;
    border-top: none;
    border-width: 100%;
    border-bottom-width: 100%;
  }
}


/* The typing effect */
@keyframes typing {
  from {
    width: 0%
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: orange;
  }
}

.hover-logo-icon:hover {
  border-radius: 50%;
  background-color: red;
  border: 2px solid rgb(0, 0, 0);
}

@keyframes down {
  0% {
    transform: translateY(0);

  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes headinganimation {
  0% {
    margin-left: 0%;

  }

  100% {
    margin-left: 100%;
  }
}

.flexs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.flexs-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;

}

@keyframes border-img {
  0% {
    border-left: solid 2px rgb(11, 232, 110);

  }

  50% {
    border-top: solid 2px rgb(11, 232, 110);
  }

  75% {
    border-right: solid 2px rgb(11, 232, 110);
  }

  100% {
    border-bottom: solid 2px rgb(11, 232, 110);
  }
}

li {
  color: rgb(243, 243, 30);
}

@media screen {
  .about-img {
    width: 100%;

  }

}

.circle-prograss-1 {
  animation: progress 3s linear;
  background-image: conic-gradient(blue 280deg, transparent 0deg);
}

.circle-prograss-2 {
  animation: progress_2 3s linear;
  background-image: conic-gradient(blue 295deg, transparent 0deg);
}

@keyframes progress {
  0% {
    background-image: conic-gradient(blue 3.6deg, transparent 0deg);
  }

  100% {
    background-image: conic-gradient(blue 280deg, transparent 0deg);
  }
}

@keyframes progress_2 {
  0% {
    background-image: conic-gradient(blue 3.6deg, transparent 0deg);
  }

  100% {
    background-image: conic-gradient(blue 295deg, transparent 0deg);
  }
}

/* Custom styles for swal modal */
.custom-swal-popup {
  width: 400px;
  /* Set width as per your preference */
  height: auto;
  /* Auto height */
  max-height: 80%;
  /* Set maximum height */
  overflow-y: auto;
  /* Enable vertical scrollbar if content exceeds height */
}

.custom-swal-title {
  font-size: 1.5em;
  /* Custom title font size */
}

.custom-swal-content {
  font-size: 1.1em;
  /* Custom content font size */
}